
.articles-container .article-container
{
  display: flex;
  flex-direction: column;
}
@media (width<1024px) and (width>=595px)
{
  .articles-container .article-container
  {
    width: 47%;
  }
  .articles-container .articles-outer .article-container img
  {
    max-height: 290px;    
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
  }
}
@media (width<595px)
{
  .articles-container .article-container
  {
    width: 4100%;
  }
  .articles-container .articles-outer .article-container  img
  {  
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
  }
}
.articles-container .articles-outer
{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.articles-container .articles-outer .article-container  img
{
    height: 200px;
    width: 260px;
    max-width: 260px;
}
.articles-container .articles-outer .article-container  p
{
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articles-container  .articles-outer .article-container  h2:after
 {
  border-bottom: 2px solid var(--brandPrimary);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}
.articles-container  .articles-outer .article-container  h2
 {
  margin-bottom: 30px;
}
.magazine-members-area h2:after,
.articles-container h2:after
 {
  border-bottom: 2px solid var(--brandPrimary);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}
.articles-container h2,
.magazine-members-area h2
 {
  margin-bottom: 30px;
}

.articles-container ul li
{
  border: none !important;
}
.articles-container  a
{
  color: var(--darkest-color);
  font-weight: bold;
}
.articles-container  p
{
  color: var(--dim-color);
  font-size: var(--body-font-size-xs);
}
.magazine-locked-section .cards-card-body,
.magazine-locked-section .cards-card-image
{
  opacity: 0.5;
}
.magazine-locked-section .cards > ul
{
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)) !important;
}
.magazine-locked-section .cards > ul > li:before
{
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(linear,right bottom,left top,from(hsla(0,0%,100%,0)),color-stop(50%,hsla(0,0%,100%,0)),color-stop(50%,var(--brandPrimary,#ffea00)),to(var(--brandPrimary)));
  background: linear-gradient(to top left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 50%,var(--brandPrimary,) 50%,var(--brandPrimary) 100%);
  color: #000;
  content: "";
  font-family: wknd-icon-font !important;
  font-size: 1.25rem;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding: 9pt;
  position: relative;
  text-transform: none;
  top: 49px;
  z-index: 2;
}
.magazine-locked-section h2
{
  font-size: var(--body-font-size-m);
  font-weight: bold;
}
.magazine-locked-section p
{
  font-size: var(--body-font-size-xs);
}
.magazine-locked-section ul li
{
  border: none !important;
}
.magazine-locked-section .cards-card-image 
{
  height: 200px;
}
.magazine-locked-section .cards-card-image img
{
  height: 200px;
}